:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.sidebar {
    flex: 1;
    max-width: 15%;
    background-color: aquamarine;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header {
    height: fit-content;
    flex: 1;
    background-color: aqua;
    max-height: 25%;
}

.main {
    display: flex;
    flex: 1;
    flex-direction: row;
    max-height: 75%;
    background-color: bisque;
}
.projects-container{
    display: flex;
    flex: 3;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}
.projects-heading{
    margin: 0;
    background-color: yellowgreen;
}
.projects-grid {
    display: grid;
    height: 100%;
    background-color: whitesmoke;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8px;
    overflow: scroll;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: orange;
    text-align: center;
    height: 150px;
    padding: 10px;
    display: flex;
}

.project>h5{
    margin: 0;
}

.project>p{
    text-align: left;
    font-size: small;
    display: -webkit-box;
    -webkit-line-clamp: 5; /* Limit to 7 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}
.project>a{
    margin: 0;
    margin-top: auto;
}

.aside {
    display: grid;
    flex: 1;
    grid-template-columns: 1fr;
    padding: 10px;
    grid-gap: 8px;
    resize: both;
    overflow: auto;
}

.announcements,
.trending {
    background: orange;
    text-align: center;
    padding: 25px;
    display: flex;
    justify-content: space-between;
}